.exchange_rate_menu table tr td {
    width: 40%;
    padding: 10px 0px;
}

.exchange_rate_menu .price-buy,
.exchange_rate_menu .price-sale {
    color: red;
    text-align: center;
}

.chart_menu table tr td {
    padding-right: 10px;
    padding-bottom: 5px;
}

.chart_menu button,
.exchange_rate_menu button,
.common-css button,
.money_change_cn_vn button {
    height: 30px;
    color: #639DBC;
    border: solid 1px;
    width: 100px;
    outline: none;
    cursor: pointer;
}

.chart_menu input:focus,
.exchange_rate_menu input:focus,
.common-css input:focus,
.money_change_cn_vn input:focus {
    border: solid 2px #B6DAF4;
    box-shadow: none;
}

.chart_menu .chart-legend li span {
    margin-right: 5px;
}

.chart_menu .chart-legend {
    margin-bottom: 40px;
    float: left;
}

.chart_menu .legendValue span:first-child {
    border-radius: 100%;
    font-size: 8px;
}

.chart_menu .menu-select {
    float: right !important;
    cursor: pointer;
    width: 20px;
}

.chart_menu .menu-select-child {
    width: 115px;
    position: fixed;
    display: none;
}

.chart_menu .menu-select-child li {
    padding: 7px 0px;
    padding-left: 5px;
    cursor: pointer;
}

.chart_menu .menu-select-child ul {
    border: solid 1px lightgray;
}

.chart_menu .menu-select-child li.active {
    background: #1991EB;
    color: white;
}

.chart_menu .form-search {
    margin-top: 20px;
    margin-bottom: 20px;
}

.common-css {
    padding-right: 15px;
}

.common-css .button-tool {
    height: 50px;
}

.common-css table {
    width: 100%;
    border-top: solid 1px gray;
}

.common-css table tr:nth-child(1) td {
    font-size: 15px;
}

.common-css table tr td {
    padding-top: 10px;
}

.common-css table tr td:nth-child(1) {
    width: 10%;
}

.common-css table tr td:nth-child(2),
.common-css table tr td:nth-child(3),
.common-css table tr td:nth-child(4) {
    width: 20%;
}

.common-css table tr td:nth-child(5) {
    width: 20%;
    text-align: center;
}

.common-css table tr td.delete {
    cursor: pointer;
}

.money_change_cn_vn .charge-rate label {
    width: 100px;
}

.money_change_cn_vn .charge-rate div {
    margin-bottom: 10px;
}

.money_change_cn_vn .charge-rate div.label:first-child {
    display: inline;
    margin-right: 50px;
}

.money_change_cn_vn .charge-rate div.label:last-child {
    display: inline;
    margin-right: 30px;
}

.money_change_cn_vn .charge-rate input {
    width: 30%;
}