.chart_menu .chart-legend li span {
    margin-right: 5px;
}

.chart_menu .chart-legend {
    margin-bottom: 40px;
    float: left;
}

.chart_menu .legendValue span:first-child {
    border-radius: 100%;
    font-size: 10px !important;
}

.chart_menu .menu-select {
    float: right !important;
    cursor: pointer;
    width: 20px;
}

.chart_menu .menu-select-child {
    width: 137px;
    position: fixed;
    display: none;
}

.chart_menu .menu-select-child li {
    padding: 7px 0px;
    padding-left: 5px;
    cursor: pointer;
    margin-left: 0px;
}

.chart_menu .menu-select-child ul {
    border: solid 1px lightgray;
}

.chart_menu .menu-select-child li.active {
    background: #1991EB;
    color: white;
}

.chart_menu ul {
    list-style-type: none;
}

.chart_menu .form-search {
    display: inline-flex;
    margin-bottom: 20px;
}

.chart_menu .form-search #startDate {
    margin-right: 10px;
}

.chart_menu .form-search input {
    border: solid 1px;
}

.chart_menu .dropdown {
    position: relative;
    display: inline-block;
}

.chart_menu .dropdown-content {
    display: none;
    min-width: 145px;
    z-index: 1;
    margin-top: 20px;
}

.hide {
    display: none;
}

.money-rate-buy-sale .rate_buy,
.money-rate-buy-sale .rate_sale {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
}

.money-rate-buy-sale .rate_buy,
.money-rate-buy-sale .date,
.money-rate-buy-sale .time {
    color: #23EAA4;
}

.money-rate-buy-sale .rate_buy {
    float: left;
}

.money-rate-buy-sale .text {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.money-rate-buy-sale .rate_sale {
    color: #1FA3FF;
}

.money-rate-buy-sale .arow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #23EAA4 transparent;
    border-radius: 9px;
}

.money-rate-buy-sale .arow-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #1FA3FF transparent transparent transparent;
    border-radius: 9px;
    vertical-align: sub;
}

.money-rate-buy-sale .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #233D63;
    margin: 0;
    width: 200px;
}

.money-rate-buy-sale table {
    margin: 0 auto;
    margin-top: 25px;
    width: 40%;
}

.money-change select {
    height: 50px;
}

.money-change .input-money {
    display: inline-flex;
    border-bottom: solid #F1A153;
}

.money-change .input-money span {
    width: 77px;
    background: #FCE7C4;
    text-align: center;
    padding-top: 18px;
    color: #FFAA31;
}

.money-change .input-money input {
    margin: 0px 0px 0px 0px;
    height: 47px;
    outline: none;
    border: none;
}

.money-change table {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.money-change table tr td {
    /* padding-left: 30px; */
}

.money-change .output-money {
    display: inline-flex;
    border-bottom: solid#4CE2A7;
}

.money-change .output-money span {
    width: 77px;
    background: #CBF3DC;
    text-align: center;
    padding-top: 18px;
    color: #4CE2A7;
}

.money-change .output-money input {
    margin: 0px 0px 0px 0px;
    height: 47px;
    outline: none;
    border: none;
    color: #4CE2A7;
    font-weight: bold;
}

.money-change .footer {
    margin-bottom: 20px;
}

.money-change .footer button {
    background: #1FA3FF;
    color: white;
    float: right;
}

.money-change .title {
    color: #000000;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
}

.money-change .money {
    width: 100%;
}