.chart_menu .chart-legend li span {
    margin-right: 5px;
}

.chart_menu .chart-legend {
    margin-bottom: 40px;
    float: left;
}

.chart_menu .legendValue span:first-child {
    border-radius: 100%;
    font-size: 8px !important;
}

.chart_menu .menu-select {
    float: right !important;
    cursor: pointer;
    width: 20px;
}

.chart_menu .menu-select-child {
    width: 115px;
    position: fixed;
    display: none;
}

.chart_menu .menu-select-child li {
    padding: 7px 0px;
    padding-left: 5px;
    cursor: pointer;
    margin-left: 0px;
}

.chart_menu .menu-select-child ul {
    border: solid 1px lightgray;
}

.chart_menu .menu-select-child li.active {
    background: #1991EB;
    color: white;
}

.chart_menu ul {
    list-style-type: none;
}

.hide {
    display: none;
}

.money-rate-buy-sale .rate_buy,
.money-rate-buy-sale .rate_sale {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    margin: 0;
}

.money-rate-buy-sale .rate_buy,
.money-rate-buy-sale .date,
.money-rate-buy-sale .time {
    color: #23EAA4;
}

.money-rate-buy-sale .rate_buy {
    float: left;
}

.money-rate-buy-sale .text {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.money-rate-buy-sale .rate_sale {
    color: #1FA3FF;
}

.money-rate-buy-sale .arow-up {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #23EAA4 transparent;
    border-radius: 9px;
}

.money-rate-buy-sale .arow-down {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #1FA3FF transparent transparent transparent;
    border-radius: 9px;
    vertical-align: sub;
}

.money-rate-buy-sale .title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    color: #233D63;
    margin: 0;
    width: 200px;
}

.money-rate-buy-sale table {
    margin-top: 25px;
}